* {
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: 1fr 4fr 2fr;
  height: 100vh;
}

.header, .secondaryContent {
  background-color: rgb(10, 45, 92);
}

.mainContent {
  background-color:azure;
  
}

.icon {
  width: 200px;
  height: 200px;
}

dropdown styling
.dropBtn {
  background-color:silver;
  padding: 16px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
}

.dropBtn:hover, .dropBtn:focus {
  background-color: rgb(146, 146, 146);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropContent {
  visibility: hidden;
  opacity: 0; 
  position:absolute;
  background-color:silver;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropContent button {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropContent a:hover {
  background-color: rgb(146, 146, 146);
}

.show {
  visibility: visible;
  opacity: 1;
}
